* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    max-width: 100vw;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    min-width: 100vw;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    max-width: 100vw;
    background-color: #1D1D1D;
}
nav {
    height: 80px;
    width: 100%;
    background-color: #AEAEAE;
    display: block;
    position: fixed;
}
.sticky {
    position: fixed;
    top: 0;
    max-width: 100vw;

}

label.logo {
    font-size: 45px;
    line-height: 80px;
    color: white;
    padding: 0 100px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 40px;
    font-size: 20px;
}
nav li {
    display: inline-block;
    margin: 0 12px;
    line-height: 80px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
nav a {
    color: black;
    font-weight: bold;
    color: #fff;
  
}
nav a:hover {
    color: rgb(255, 255, 255);
    transition: .3s;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 20px #7DB0CA,
      0 0 20px #7DB0CA,
      0 0 20px #7DB0CA,
      0 0 20px #7DB0CA,
      0 0 20px #7DB0CA;
}
nav #icon {
    float: right;
    line-height: 80px;
    color: white;
    display: none;
    cursor: pointer;
}

@media (max-width: 1048px) {
    nav ul {
        font-size: 17px;
    }

}

@media (max-width: 909px) {
    nav {
        background-color: #333333;
    }
    nav #icon {
        display: block;
        margin-right: 40px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1D1D1D;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }
    nav li {
        margin: 30px 0;
        display: block;
        text-align: center;
    }
    label.logo {
        margin: 0 -50px;
    }
    a.active, a:hover {
        color: #3498db;
    }
    nav ul li a {
        color: #fff;
    }
    nav ul.show {
        left: 0;
    }

}


.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1D1D1D;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
/*-------------------------Homepage-----------------------------*/

.header-area h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #fff;
    font-size: 2em;
    text-shadow:  0 2px 5px rgba(0,0,0, .5);
}
.header-area h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    font-size: 3em;
    text-shadow:  0 2px 3px rgb(0, 0, 0);
    color: #fff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.header-area h1 span {
    color: #7DB0CA;
    margin-left: 15px;
    text-shadow:
    0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa;
      color: white;
}




.header-area h3 a:hover{
    color: #fff;  
    transition: all .3s;
}



@media (max-width: 1500px) {
    .header-area h1 {
        padding-top: 250px;
    }
}
@media (max-width: 785px) {
    .header-area h1 {
        padding-top: 230px;
    }
}
@media (max-width: 584px) {
    .header-area h1 {
        padding-top: 180px;
    }
    .header-area {
        font-size: 15px;
    }
}
@media (max-width: 397px) {
    .header-area {
        font-size: 12px;
    }
}




/*----------------------------2nd section----------------------------------*/


#about {
    height: auto;
    max-width: 100vw;
    background: #1D1D1D;
    /* top, transparent black, faked with gradient  
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image 
    url(photos/bg_bggenerator_com.png); */
    
}
.titles {
    display: block;
}
.titles h1 {
    width: 300px;
    margin: 0 auto 50px auto;
    padding-bottom: 10;
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #7DB0CA;
    margin-bottom: 50px;
    font-size:40px;
    color: white;
  border-bottom: 1px solid white;
  text-shadow:
  0 0 10px #fff,
  0 0 10px #006EBB,
  0 0 10px #006EBB,
  0 0 10px #006EBB,
  0 0 10px #006EBB,
  0 0 10px #006EBB,
  0 0 10px #006EBB,
  0 0 10px #006EBB;
      color: white;
}
.aboutme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Jost', sans-serif;
    margin:0 20%;
}
.aboutme img {
    height: 500px;
    padding: 0 20px;
    margin:  0 0 150px 0;
}

.profilepicture {
    transform-style: preserve-3d;
}

.aboutme h1 {
    text-align: center;
    color:#7DB0CA;
}
.aboutme div {
    margin: 0;
}
.aboutme div p {
    color: white;
    font-size: 1.2rem;
    width: 450px;
    margin-bottom: 25px;
    margin-top: 5px;
    text-align: center;
}

.aboutme div p span {
    color: #7DB0CA;
    
}
.anchor {
    display: flex;
    justify-content: space-around;
    
}
.downloadcvbtn {
    padding: 10px 25px;
    background-color:#343F4F;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 20px;
}

.myworkbtn {

    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    transition: color 0.5s linear;
    overflow: hidden;
 }
 
 .downloadcvbtn:hover, .myworkbtn:hover{
    background-color:#4a7ac2;
    transition: all .2s;
    text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 1px #7DB0CA,
      0 0 1px #7DB0CA,
      0 0 1px #7DB0CA,
      0 0 1px #7DB0CA,
      0 0 1px #7DB0CA;
}


@media (max-width: 788px) {
    .aboutme div p {
        font-size: 1.1em;
        width: 350px;
    }
}
@media (max-width: 676px) {
    .aboutme img {
        height: 250px;
    }
    .aboutme div p {
        font-size: 0.95em;
    }
}
@media (max-width: 586px) {
    .aboutme {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        
    }
    .aboutme div {
        margin-top: 30px;
    }
    .aboutme img {
        margin: 0;
    }
    #about {
        height: 120vh;
    }
   
}
@media (max-width: 376px) {
    #about {
        height: 110vh;
    }
}


/*--------------------skills----------------------------*/

#Skills {
    height: auto;
    max-width: 100vw;
    background: #1D1D1D;
}
.skills-header {
    text-align: center;
    padding-top: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}
.skills-header h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.skills-header p {
    font-size: 18px;
    color: white;
}
.skillswrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 25% 0 25%;
    padding: 0 0 150px 0;

}


.skillswrapper div {
    height: 100px;
    width: 100px;
    margin: 30px 30px;
}
.skillswrapper div img {
    height: 100%;
    width: 100%;
    margin: 20px;
}

@media (max-width: 625px) {
    .skillswrapper div img {
        margin: 0;
    }
    .skillswrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 0 0;
        padding: 10% 0 10% 0;
    
    }
}



/*-------------------Projects---------------------------*/

#projects {
    min-height: 70vh;
    height: auto;
    max-width: 100vw;
    border-top: 1px solid grey;
    /*background: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image 
    url(photos/bg_bggenerator_com.png); */
    
    background: #1D1D1D;
    border: none;
    padding-bottom: 100px;
}
.projects-header h1 {
    font-size: 30px;
    padding-top: 30px;
}
.projects-header h1, .projects-header p {

     text-align: center;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;
     
 }

 .projects-header p {
    font-size: 18px;
 }
 
 .projects-mockups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}


.card {
    height: 350px;
    width: 450px;
    margin:100px 0;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
    box-shadow:
    0 0 20px #fff,
    0 0 20px #006EBB,
    0 0 20px #006EBB,
    0 0 20px #006EBB,
    0 0 20px #006EBB,
    0 0 20px #006EBB,
    0 0 20px #006EBB,
    0 0 20px #006EBB;
      
}


.card  img {
    display: block;
    width: 100%;
    height: 75%;
    image:  linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255), 0.5) , url('landingpagepic.jpg');
    border-radius: 8px 8px 0 0;
    object-fit: fill;
    
}

.card div {
    display: flex;
    justify-content: center;
    height: auto;
    
}
.card div a {
    color: rgb(0, 31, 168);
margin: 10px 20px 0 20px;
font-family: 'Jost', sans-serif;
text-transform: uppercase;
font-weight: bold;
}

.card p{
    color: #585858;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    padding: 15px;
    width: 240px;
    height: 120px;
    background-color: #DEDEDE;
    margin-top: 15px;
    border-radius: 10px;

    box-shadow:
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #fff,
    0 0 20px #003968;
}
.card a:hover {
    color: #003968;
    transition: .2s all;
}


@media (max-width: 300px) {
    #projects {
        height: 270vh;
    }
  
}
@media (max-width: 625px) {
    #projects {
        padding-top: 10%;
    }
}

@media (max-width: 460px) {
    .card div a {
        font-size: 15px;
    }
    .card {
        box-shadow:
    0 0 5px #fff,
    0 0 5px #006EBB,
    0 0 5px #006EBB,
    0 0 5px #006EBB,
    0 0 5px #006EBB,
    0 0 5px #006EBB,
    0 0 5px #006EBB,
    0 0 5px #006EBB;
    }
    .card p{
        box-shadow:
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 5px #003968;
    }
  
}
@media (max-width: 418px) {
    .card div a {
        font-size: 13px;
    }
  .card  {
    width: 400px;
  }
}

/*----------------------Contact-------------------------*/

#contact {
    height: auto;
    width: 100%;
    background-color: #8FCCEA;
}
#contact h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}



#contact  div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#contact div a {
    margin: 30px;
    font-size: 30px;
    color: black;
    
}

#contact div a:nth-child(5) {
    color: rgb(0, 89, 255);
}
#contact div a:hover {
    
    text-shadow:
    0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa,
      0 0 10px #4488aa;
      color: white;
    transition: all .2s;
    
}



@media (max-width: 500px) {
    #contact div {
        text-align: center;
        display: block;
        padding: 0 0 30px 0;
    }
    #contact div a {
        margin:15px;
        font-size: 20px;
        color: #141613;
        
    }
    #contact h1 {
        padding: 30px 0;
    }
}

.end {
    text-align: center;
    cursor:default;
    padding: 0 0 30px 0;
    color: rgb(216, 9, 9)
}

